html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
  display: block;
  border: 1px solid #999;
}

    p {
        text-align: center;
        font-size: 24px;
        background-color: lightblue;
            }

#sketch-container {

}


